# Python önbellekleri
__pycache__/
*.py[cod]
*$py.class

# Derleme ve paketleme klasörleri
build/
dist/
dist_obf/
*.spec

# Yerel lisans ve önbellek dosyaları
dict_cache/
*.key
*.db
updater.bat
update_temp.zip
blacklist.txt